<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CDCameraDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2A6A3A381DD021F6003277D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6A3A511DD021F6003277D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2A6A3A5C1DD021F6003277D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
